* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1A1A1A;
}

.custom-btn {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-weight: 600;
    border: 0;
    outline: 0;
    border-radius: 8px;
    color: light;
}

.swal2-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swal2-actions {
    margin-top: 20px;
}